<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="AMIS_phoneConnectionString" connectionString="Data Source=DESKTOP-MHB1IUD\SQLEXPRESS;Initial Catalog=AMIS_phone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AMIS_phoneConnectionString2" connectionString="Data Source=QUYNH\QUYNH;Initial Catalog=AMIS_phone;User ID=sa;Password=quynh123"
            providerName="System.Data.SqlClient" />
        <add name="AMIS_phoneConnectionString3" connectionString="Data Source=QUYNH\QUYNH;Initial Catalog=AMIS_phone;User ID=sa;Password=quynh123"
            providerName="System.Data.SqlClient" />
        <add name="AMIS_phoneConnectionString4" connectionString="Data Source=DESKTOP-PIKNVLI\SQLEXPRESS;Initial Catalog=AMIS_phone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AMIS_phoneConnectionString5" connectionString="Data Source=DESKTOP-PIKNVLI\SQLEXPRESS;Initial Catalog=AMIS_phone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
